@charset "utf-8";
/**
 * Icons
**/

.group-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__half{
    width: calc(50% - 12px);
    position: relative;
  }
  &__full{
    width: 100%;
    position: relative;
  }
  @media only screen and (max-width: 400px) {
    &__half{
      width: 100%;
    }
  }
}
