@charset "utf-8";
/**
 * Icons
**/

input,
.outner-textarea{
	background: $body-color;
	border: 2px solid $cl-yellow;
	padding: 10px 25px;
	box-sizing: border-box;
	width: 100%;
	color: $base-color;
	font-size: 24px;
	min-height: 108px;
	text-overflow: ellipsis;
	border-radius: 0;
	@media only screen and (max-width: 639px) {
		border: 1px solid $cl-yellow;
		padding: 5px 12px;
		font-size: 12px;
		min-height: 54px;
	}
}
::placeholder { /*Chrome, Firefox, Opera, Safari 10.1+ */
	opacity: 0.4;
	color: $base-color;
}

:-ms-input-placeholder { /*Internet Explorer 10-11 */
	opacity: 0.4;
	color: $base-color;
}

::-ms-input-placeholder { /* Microsoft Edge */
	opacity: 0.4;
	color: $base-color;
}
.box-select{
	position: relative;
	background: $body-color;
	border: 2px solid $cl-yellow;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	color: $base-color;
	font-size: 2.4rem;
	min-height: 108px;
	text-overflow: ellipsis;
	background: #000 url(/luxury/assets/images/icon-down.png) top right no-repeat;
	background-position: top -2px right -2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	&:-ms-expand { 
		display: none; /* remove default arrow on ie10 and ie11 */
	}
	&.active{
		background: #000 url(/luxury/assets/images/icon-up.png) top right no-repeat;
		background-position: top -2px right -2px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	@media only screen and (max-width: 639px) {
		font-size: 1.4rem;
		min-height: 54px;
		border: 1px solid $cl-yellow;
		background-size: 54px 54px;
		background-position: top -1px right -1px;
		&.active{
			background-size: 54px 54px;
			background-position: top -1px right -1px;
		}
	}
}
select::-ms-expand {
	display: none;
}
label{
	font-size: 2.4rem;
	line-height: 0.57;
	display: inline-block;
	margin-bottom: 30px;
	pointer-events: none;
	@media only screen and (max-width: 639px) {
		font-size: 1.4rem;
		margin-bottom: 15px;
	}
}
.sub-label{
	margin-top: 73px;
	position:absolute;
	top: 0;
	bottom: 0;
	right: -47px;
	font-size: 2.4rem;
	@media only screen and (max-width: 639px) {
		margin-top: 37px;
		right: 10px;
		font-size: 1.4rem;
	}
}
#app_terms{
	display: none;
}
.outner-textarea{
	box-sizing:border-box;
	padding: 15px 10px 30px 20px;
	max-height: 325px;
	font-size: 2.2rem;
	color: $gray;
	.inner__scroll{
		overflow-y :scroll;
		height: 275px;
		scrollbar-width: thin;
		padding-right: 10px;
		&::-webkit-scrollbar-thumb{
			border-radius: 2px;
			background-color: $base-color;
		}
		&::-webkit-scrollbar{
			width: 4px;
			background-color: $cl-yellow;
			border-radius: 2px;
		}
	}
	p{
		margin: 0;
		line-height: 1.8181818;
	}
	@media only screen and (max-width: 639px) {
		border: 1px solid $base-color;
		box-sizing:border-box;
		padding: 12px 5px 9px 10px;
		max-height: 160px;
		font-size: 1.2rem;
		.inner__scroll{
			height: 130px;
			padding-right: 5px;
		}
	}
}
.form-input{
	margin-bottom: 45px;
	@media only screen and (max-width: 639px) {
		margin-bottom: 20px;
		&__half{
			margin-bottom: 10px;
		}
		&-age{
			label{
				display: block;
			}
			input{
				width: 90%;
			}
		}
	}
}
.form-input--error{
	color: #ff0000;
	input{
		border: 2px solid rgba(255, 0, 20, .4)
	}
}
.form-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	user-select: none;
	
	label{
		cursor: pointer;
		line-height: 1;
		pointer-events: auto;
	}
	/* On mouse-over, add a grey background color */
	&:hover input ~ .checkmark {
		background-color: $body-color;
		border: 2px solid $cl-yellow;
	}
	input {
		position: absolute;
		opacity: 0;
		height: 0;
		width: 0;
		&:checked ~ .checkmark {
			background-color: $body-color;
			border: 2px solid $cl-yellow;
		}
		/* Show the checkmark when checked */
		&:checked ~ .checkmark:after {
			display: block;
		}
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: -23px;
		height: 20px;
		width: 20px;
		background-color: $body-color;
		border: 2px solid $cl-yellow;
		/* Create the checkmark/indicator (hidden when not checked) and style the checkmark/indicator*/
		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 6px;
			top: 1px;
			width: 6px;
			height: 10px;
			border: solid $cl-yellow-light;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		@media only screen and (max-width: 639px) {
			left: -15px;
			height: 14px;
			width: 14px;
			border: 1px solid $cl-yellow;
			&:after {
				left: 4px;
				width: 4px;
				height: 8px;
				border-width: 0 1.5px 1.5px 0;
			}
		}
	}
	.text{
		margin-left: 25px;
	}
	@media only screen and (max-width: 639px) {
		padding-left: 15px;
		.text{
			margin-left: 15px;
		}
	}
}
