@charset "utf-8";
/*Footer copy right*/
footer{   
	// Footer coppyRight
	.copyright {
		background-color: #2a2a2a;
		color: #fff;
		padding: 33px 0;
		text-align: center;
		font-size: 1.2rem;
	}
	@include mq-sp {
		.copyright {
			padding: 22px 5px;
			font-size: 0.9rem;
		}
	}
}
.l-footer{
	background: #ececec;
}

.icn-arrow-top {
	position: fixed;
	right: 30px;
	bottom: 95px;
	opacity: 1;
	display: none;
	width: 67px;
	height: 67px;
	@media (max-width: 768px) {
		width: 56px;
		height: 56px;
		right: 5px;
		bottom: 47px;
	}
}



