@charset "utf-8";
/* Gnav
------------------------------------------------- */
.navbar{
	display: flex;
	justify-content: space-between;
  	align-items: center;
	.menu{
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		color: #3a3a3a;
		a{
			text-decoration: none;
			text-align: center;
		}
	}
	.logo{
		padding-left: 8.333%;
		margin-top: 5px;
	}
	@media (min-width: 769px) and (max-width: 1190px){
		.logo{
			flex: 1;
			img{
				width: 85%;
			}
		}
		.menu{
			flex: 2;
			a{
				padding: 13px 15px 13px 15px;
			}
		}
	}
	@include mq-sp {
		display: block;
		.menu{
			display: block;
			padding: 0;
			font-size: 2.8rem;
			a{
				text-align: left;
				padding: 28px 31px 33px;
			}
		}
		.logo{
			padding: 64px 5px 35px;
			display: block;
			margin: 0 auto;
			text-align: center;
			img{
				width: 450px;
			}
		}
	}
	@media (max-width: 480px) {
		.menu{
			font-size: 1.4rem;
		}
		.logo{
			img{
				width: 225px;
			}
		}
	}
}
.navbar-header{
	padding-right: 7%;
	.menu{
		a{
			display: block;
			padding: 25px 15px 15px 15px;
		}
		&-icon{
			margin: 0;
			img{
				height: 40px;
				width: auto;
			}
		}
		&-text{
			margin: 0;
		}
		li:nth-child(2){
			margin-left: 9px;
		}
		li:nth-child(3){
			margin-left: 18px;
		}
		li:nth-child(4){
			margin-left: 15px;
		}
	}
	.logo{
		padding-left: 9%;
		padding-top: 14px;
	}
	@include mq-sp {
		padding-right: 0;
		position: relative;
		padding-top: 15px;
		padding-bottom: 15px;
		.menu{
			display: none;
			&.open{
				display: none;
				position: absolute;
				width: 100%;
				background: #fff;
				z-index: 5;
			}
			a{
				color: #2a2a2a;
				font-size: 1.5rem;
			}
			li:nth-child(2),
			li:nth-child(3),
			li:nth-child(4){
				margin-left: 0;
			}
		}
		.logo{
			text-align: left;
			padding: 25px 32px 18px;
			img{
				width: 412px;
			}
		}
		.btn-close{
			display: none;
		}
	}
	@media (min-width: 481px) and  (min-width: 640px){
		.logo{
			img{
				width: 75%;
			}
		}
	}
	@media (max-width: 480px) {
		padding-top: 7px;
		padding-bottom: 7px;
		.logo{
			padding: 12px 16px 9px;
			img{
				width: 206px;
			}
		}
	}
}
.navbar-footer{
	.menu{
		.active{
			color: #f85050;
		}
		a{
			display: block;
			color: $base-color;
			line-height: 2.14;
			position: relative;
			padding: 25px 30px 25px 29px;
			&:before{
				content: "";
				position: absolute;
				left: 0;
				width: 1px;
				height: 30%;
				background-color: #d5d5d5;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		li:first-child{
			a{
				&:before{
					display: none;
				}
			}
		}
		li:last-child{
			margin-left: 10px;
			a{
				color: #fff;
				background: #f85050;
				padding: 25px 26px;
				&:before{
					display: none;
				}
			}			
		}
	}
	@media (min-width: 769px) and (max-width: 1190px){
		.menu{
			a{
				padding: 13px 15px 13px 15px;
			}
			li:last-child a {
				padding: 13px;
			}
		}
	}
	@include mq-sp {
		display: block;
		.menu{
			display: block;
			padding: 0;
			a{
				// padding: 14px 15px 12px;
				padding: 25px 30px 28px 29px;
				&:before{
					display: none;
				}
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					margin-top: -12px;
					right: 30px;
					width: 10px;
					height: 18px;
					background: url(assets/images/icon01.png) no-repeat;
					background-size: 10px 18px;
				}
			}
			li{
				border-top: 1px solid #d6d6d6;
			}
			li:last-child{
				margin-left: 0;
				text-align: center;
				padding: 31px 30px 54px;
				a{
					padding: 15px 10px 12px;
					text-align: center;
					&:after{
						display: none;
					}
				}
			}
		}
	}
	@media (max-width: 480px) {
		.menu{
			a{
				padding: 13px 15px 14px 15px;
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					margin-top: -6px;
					right: 15px;
					width: 5px;
					height: 9px;
					background: url(assets/images/icon01.png) no-repeat;
					background-size: 5px 9px;
				}
			}
			li{
				border-top: 1px solid #d6d6d6;
			}
			li:last-child{
				margin-left: 0;
				text-align: center;
				padding: 15px 15px 27px;
				a{
					padding: 8px 5px 6px;
				}
			}
		}
		.logo{
			padding-bottom: 14px;
		}
	}
}

