@charset "utf-8";
/* Gnav
------------------------------------------------- */
.navbar{
	display: flex;
	justify-content: space-between;
  	align-items: center;
	.menu{
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		color: #3a3a3a;
		a{
			text-decoration: none;
			text-align: center;
		}
	}
	.logo{
		margin-top: 15px;
	}
	@media (min-width: 769px) and (max-width: 1190px){
		.logo{
			flex: 1;
			img{
				max-width: 308px;
			}
		}
		.menu{
			flex: 1;
			padding-left: 20px;
			a{
				padding: 13px 15px 13px 15px;
			}
		}
	}
	@include mq-sp {
		display: block;
		.menu{
			display: block;
			padding: 0;
			font-size: 1.4rem;
			a{
				text-align: left;
				padding: 28px 31px 33px;
			}
		}
		.logo{
			padding: 33px 5px 35px;
			display: block;
			margin: 0 auto;
			text-align: center;
			img{
				width: 225px;
			}
		}
	}
}
.navbar-header{
	.menu{
		a{
			display: block;
			padding: 25px 15px 15px 15px;
			color: #3a3a3a;
			&:hover{
				opacity: 0.7;
			}
		}
		&-icon{
			margin: 0;
			img{
				height: 40px;
				width: auto;
			}
		}
		&-text{
			margin: 0;
		}
		li:nth-child(2){
			margin-left: 9px;
		}
		li:nth-child(3){
			margin-left: 18px;
		}
		li:nth-child(4){
			margin-left: 15px;
		}
		li:last-child{
			a{
				padding-right: 0;
			}
		}
	}
	@include mq-sp {
		padding-right: 0;
		position: relative;
		padding-top: 7px;
		padding-bottom: 7px;
		.menu{
			display: none;
			&.open{
				display: none;
				position: absolute;
				width: 100%;
				background: #fff;
				z-index: 5;
			}
			a{
				color: #2a2a2a;
				font-size: 1.5rem;
			}
			li:nth-child(2),
			li:nth-child(3),
			li:nth-child(4){
				margin-left: 0;
			}
		}
		.logo{
			text-align: left;
			padding: 12px 0 9px;
			img{
				width: 206px;
			}
		}
		.btn-close{
			display: none;
		}
	}
}
.navbar-footer{
	.menu{
		a{
			display: block;
			color: $base-color;
			line-height: 2.14;
			position: relative;
			padding: 25px 30px 25px 29px;
			&:before{
				content: "";
				position: absolute;
				left: 0;
				width: 1px;
				height: 30%;
				background-color: #d5d5d5;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		li:first-child{
			a{
				&:before{
					display: none;
				}
			}
		}
		li:last-child{
			margin-left: 10px;
			a{
				color: #fff;
				background: #f85050;
				padding: 25px 26px;
				&:before{
					display: none;
				}
			}			
		}
	}
	.logo{
		padding-left: 8.2%;
    margin-top: 5px;
	}
	@media (min-width: 769px) and (max-width: 1190px){
		.menu{
			a{
				padding: 13px 10px 13px 10px;
			}
			li:last-child a {
				padding: 13px;
			}
		}
	}
	@include mq-sp {
		display: block;
		.menu{
			display: block;
			padding: 0;
			a{
				padding: 13px 15px 13px 15px;
				&:before{
					display: none;
				}
				&:after{
					content: "";
					position: absolute;
					top: 50%;
					margin-top: -6px;
					right: 15px;
					width: 5px;
					height: 9px;
					background: url(/ifv/assets/images/icon01.png) no-repeat;
					background-size: 5px 9px;
				}
			}
			li{
				border-top: 1px solid #d6d6d6;
			}
			li:last-child{
				margin-left: 0;
				text-align: center;
				padding: 18px 15px 27px;
				a{
					padding: 8px 5px 6px;
					text-align: center;
					&:after{
						display: none;
					}
				}
			}
		}
		.logo{
			padding-bottom: 14px;
		}
	}
}

