@charset "utf-8";
// /* Header
// /* [header] content
// -----------------------------------------------*/

.l-header{
	background: url(/ifv/assets/images/bg-top.png) top center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	padding-bottom: 49.72%;
	font-size: 11.7rem;
	line-height: 1;
	letter-spacing: -0.3rem;
	font-weight: bold;
	font-family: helvetica;
	color: #fff;
	position: relative;
	&__content{
		position: absolute;
		top: 14.8%;
		left: 8.15%;
	}
	&__text{
		font-size: 3.6rem;
		letter-spacing: 0.42rem;
		margin-top: -15px;
	}
	&__sub{
		font-size: 2.3rem;
    letter-spacing: 0.4rem;
    margin-top: -10px;
		line-height: 1.5;
		font-family: hirakakupro;
	}
	&__img{
		text-align: center;
		margin-left: -20px;
		line-height: 0;
		margin-top: 15px;
		margin-bottom: 15px;
		img{
			margin: 0 auto;
		}
	}
	@media (min-width: 769px) and (max-width: 1190px){
		padding-bottom: 62.72%;
	}
	// @media (max-width: 768px) {
  //   background: url(/ifv/assets/images/bg-top-sp.png);
  //   background-repeat: no-repeat;
  //   background-size: 100% 100%;
  //   padding-bottom: 158.75%;
	// 	justify-content: center;
	// 	@include responsive-font(get-vw-sp(177px), 88px, 177px);
	// 	letter-spacing: 0;
	// 	&__content{
	// 		top: 12.5%;
	// 		left: 4.15%;
	// 	}
	// 	&__text{
	// 		@include responsive-font(get-vw-sp(58px), 29px, 58px);
	// 		margin-top: -10px;
	// 	}
	// 	&__sub{
	// 		@include responsive-font(get-vw-sp(33.28px), 16.64px, 33.28px);
	// 		margin-top: -15px;
	// 	}
	// 	&__img{
	// 		margin-left: -15px;
	// 		line-height: 0;
	// 		margin-top: 38px;
	// 		margin-bottom: 45px;
	// 	}
	// }
	@media (max-width: 480px) {
		background: url(/ifv/assets/images/bg-top-sp.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding-bottom: 158.75%;
		justify-content: center;
		@include responsive-font(get-vw-sp(88px), 58px, 88px);
		letter-spacing: 0;
		&__img{
			margin-top: 19px;
			margin-bottom: 23px;
			margin-left: -45%;
			img{
				width: 65px;
			}
		}
		&__text{
			//font-size: 1.5rem;
			@include responsive-font(get-vw-sp(29px), 15px, 29px);
			margin-top: -5px;
		}
		&__sub{
			//font-size: 0.8rem;
			@include responsive-font(get-vw-sp(16.64px), 8.32px, 16.64px);
			margin-top: -7px;
		}
		&__img{
			margin-left: -15px;
			line-height: 0;
			margin-top: 38px;
			margin-bottom: 45px;
		}
	}
}