// ==========================================================================
// Foundation
// ==========================================================================
@import "foundation/variables";
@import "foundation/mixins";
@import "foundation/base";

// ==========================================================================
// Layout
// ==========================================================================
@import "layout/layout";
@import "layout/header";
@import "layout/gnav";
@import "layout/grid";

// ==========================================================================
// Object
// ==========================================================================
// -----------------------------------------------------------------
// Plugins
// -----------------------------------------------------------------


// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------
@import "component/input";
@import "component/btn";

// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------

body{
	font-size: 12px;
	color: #e3dab7;
	background: #000000;
	max-width: 640px;
  margin: 0 auto;
  font-weight: bold;
  font-family: Myriad Pro;
}

.center{
	text-align: center !important;
}
.img-fluid{
	width: 100%;
	height: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -11px;
  margin-left: -11px;
  flex-grow: 1;
  align-items: flex-end;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.col{
	position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 11px;
  padding-left: 11px;
  box-sizing: border-box;
}
.col-6{
	flex: 0 0 50%;
   max-width: 50%;
}
.col-12{
	flex: 0 0 100%;
   max-width: 100%;
}
/*Header*/
.header__content{
	border-bottom: 1px solid #5a5749;
	padding: 33px 12px;
}
.header__logo{
	margin: 0 auto;
	max-width: 155px;
}
.header__sub{
	text-transform: uppercase;
	text-align: center;
}
.header__title{
	font-size: 21px;
}
.header__title span{
	display: block;
	font-size: 12px;
}
.container{
	padding: 0 12px;
	border-bottom: 1px solid #5a5749;
}
.form-input input,
.form-input textarea{
	background: #000;
	border: 1px solid #5a5749;
	padding: 20px 10px;
	box-sizing: border-box;
	width: 100%;
	color: #808080;
}
.form-input{
	display: flex;
	flex-wrap: wrap;
}
.form-input label{
	display: block;
}
.form-checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.form-checkbox .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #000;
  border: 1px solid #5a5749;
}
/* On mouse-over, add a grey background color */
.form-checkbox:hover input ~ .checkmark {
  background-color: #000;
  border: 1px solid #5a5749;
}
/* When the checkbox is checked, add a blue background */
.form-checkbox input:checked ~ .checkmark {
  background-color: #000;
  border: 1px solid #5a5749;
}
/* Create the checkmark/indicator (hidden when not checked) */
.form-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.form-checkbox input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.form-checkbox .checkmark:after {
  left: 4px;
  top: 1px;
  width: 3px;
  height: 7px;
  border: solid #e0d9b7;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*button confirm*/
.form-btn{
	border: 2px solid #e0d9b7;
	font-size: 17px;
	text-align: center;
	padding: 15px;
	margin-bottom: 77px;
}
.form-btn .btn{
	position: relative;
	display: inline-block;
}
.form-btn .arrow-next{
  border: solid #dfd5b3;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 6px;
  height: 6px;
  margin-right: 11px;
}
/*Footer copy right*/
.copy-right{
	font-size: 9px;
	text-align: center;
}
