@charset "utf-8";
#page_entry{
	.hdg-lv2{
		&:after{
			background: #f85050;
		}
	}
	.l-header{
		background: url(/ifv/assets/images/entry-imgheader.jpg) top center no-repeat;
		background-size: 100% 100%;
		width: 100%;
		padding-bottom: 28.3333%;
		position: relative;
		margin-bottom: 70px;
		font-size: 3rem;
		line-height: 1;
		text-align: center;
		.icon{
			margin-top: 5px;
		}
		&__text{
			font-family: helvetica;
			margin-bottom: 63px;
			padding-top: 52px;
			margin-left: 2px;
			letter-spacing: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				margin-right: 10px;
			}
		}
		&__content{
			top: 0;
			left: 0;
			right: 0;
			letter-spacing: 0;
			font-family: hirakakupro;
		}
		@media (max-width: 1199px) and (min-width: 769px){
			&__text{
				margin-bottom: 2%;
			}
		}
	}
	.navbar{
		a.active{
			color: #f85050;
		}
	}
}