@charset "utf-8";
#page_entry{
	.hdg-lv2{
		&:after{
			background: #f85050;
		}
	}
	.l-header{
		background: url(/ifv/assets/images/entry-imgheader.jpg) top center no-repeat;
		background-size: 100% 100%;
		width: 100%;
		padding-bottom: 28.3333%;
		position: relative;
		margin-bottom: 68px;
		line-height: 1;
		text-align: center;
		.icon{
			margin-right: 15px;
		}
		&__text{
			font-family: helvetica;
			margin-bottom: 90px;
			margin-top: 0;
			padding-top: 30px;
			margin-left: 15px;
			letter-spacing: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3rem;
		}
		&__content{
			top: 0;
			left: 0;
			right: 0;
			letter-spacing: 0;
			font-size: 3rem;
			font-family: hirakakupro;
			margin-left: -15px;
		}
		@media (max-width: 1199px) and (min-width: 769px){
			&__text{
				margin-bottom: 2%;
			}
		}
		
	}
	.navbar{
		a.active{
			color: #f85050;
		}
	}
	.wrp-container{
		max-width: 798px;
		margin: 0 auto;
	}
	.group-items{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 -15px;
		&-content{
			width: calc(100% - 32px);
			margin: 0 16px;
			color: #fff;
			padding-top: 33px;
			.title{
				font-size: 1.6rem;
			}
		}
		&__title{
			font-size: 2.4rem;
			color: #fa9b9b;
			text-align: center;
			margin-left: -14px;
			margin-bottom: 13px;
		}
		&__text{
			padding: 0 40px;
		}
		&--left{
			background: url(/ifv/assets/images/entry-img01.jpg) top center no-repeat;
			background-size: 100% 100%;
		}
		&--right{
			background: url(/ifv/assets/images/entry-img02.jpg) top center no-repeat;
			background-size: 100% 100%;
		}
	}
	.tbl-recruitment{
		font-size: 1.4rem;
		line-height: 1.5714;
		color: #2a2a2a;
		padding: 35px 0;
		tr{
			border-bottom: 1px solid #d4d4d4;
			display: table;
			width: 100%;
		}
		th{
			color: #f85050;
			width: 19.42356%;
			padding-left: 20px;
			box-sizing: border-box;
		}
		.tbl-note{
			color: #616161;
			font-size: 1.2rem;
		}
		.tbl-title{
			font-weight: bold;
		}
	}
	.lst-flow{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 0;
		margin-top: -5px;
		li{
			position: relative;
			background: #fa8484;
			color: #fff;
			font-size: 1.4rem;
			line-height: 1.5714;
			padding: 45px 10px 45px 10px;
			box-sizing: border-box;
			width: 16.54135%;
			text-align: center;
			list-style-type: none;
			&:after{
				position: absolute;
				content: "";
				background: url(/ifv/assets/images/icn-arrow01.png) center center no-repeat;
				background-size: 14px 23px;
				top: 50%;
				right: -23px;
				margin-top: -11px;
				width: 14px;
				height: 23px;
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
		}
	}
	#description{
		.hdg-lv2{
			margin-bottom: 42px;
		}
	}
	#flow{
		margin-bottom: -28px;
	}
	#entry{
		margin-bottom: 95px;
		.hdg-lv2{
			margin-bottom: 35px;
		}
		.btn-accept{
			margin-top: 28px;
			.text{
				padding-bottom: 9px;
				span{
					border-bottom: 1px solid #fff;
					padding-bottom: 5px;
				}
			}
		}
	}
	.wrp-btn{
		margin: 0 auto;
		padding-right: 18px;
		max-width: 470px;
	}
}