@charset "utf-8";
//btn
.btn-menu{
	position: absolute;
	background: url(/ifv/assets/images/icon-menu.png) top center no-repeat;
	background-size: 64px 57px;
	top: 30px;
	right: 30px;
	width: 64px;
	height: 57px;
	display: none;
	&.open{
		background: url(/ifv/assets/images/img-close.png) top center no-repeat;
		background-size: 41px 40px;
	}
	@include mq-sp {
		display: block;
		background-size: 32px 29px;
		top: 15px;
		right: 0;
		width: 32px;
		width: 32px;
		height: 29px;
		&.open{
			background-size: 20px 20px;
		}
	}
}
.btn{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 21.5%;
	padding: 25px 0;
	color: #fff;
	font-size: 1.5rem;
	margin: 0 10px;
	&:hover{
		opacity: 0.7;
	}
	&-entry{
		background: #F85050;
	}
	&-app{
		background: #fbd0d0;
		color: #F85050;
	}
}
.btn-accept{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #dbdbdb;
	max-width: 470px;
	.text{
		position: relative;
		color: #fff;
		background: #f85050;
		width: 50%;
		line-height: 5.163125;
    text-align: center;
    font-size: 1.6rem;
		&:hover{
			opacity: 0.7;
		}
		&:after{
			position: absolute;
			content: "";
			top: 50%;
			right: -8px;
			width: 0;
			margin-top: -10px;
			height: 0;
			border-style: solid;
			border-color: transparent transparent transparent #f85050;
			border-width: 8px 0 8px 8px;
		}
	}
	.logo{
		max-width:196px;
		padding-right: 19px;
    margin-top: 3px;
	}
}