@charset "utf-8";
/* Header
----------------------------------------------------------------- */
// .l-header {
//   position: relative;
//   z-index: 160;
//   display: flex;
//   width: 100%;
//   @include mq-sp {
//     padding: 0 0 0 15px;
//   }
//   .is-opened & {
//     background-color: #fff;
//   }
// }
/* [header] content
-----------------------------------------------*/
.l-header{
  border-bottom: 1px solid #5a5749;
  padding: 65px 24px 40px;
  margin-bottom: 70px;
  h1{
    margin-left: 7px;
    margin-bottom: 55px;
  }
  @media only screen and (max-width: 639px) {
    padding: 33px 12px 20px;
    margin-bottom: 35px;
    h1{
      margin-left: 3px;
      margin-bottom: 27px;
    }
  }
}

/* [header] logo
-----------------------------------------------*/
.l-header__logo{
  margin: 0 auto;
  text-align: center;
  img{
    max-width: 155px;
  }
}
.l-header__sub{
	text-transform: uppercase;
	text-align: center;
}
.l-header__title{
  margin-left: -20px;
  @media only screen and (max-width: 639px) {
    margin-left: -10px;
  }
}


