@charset "utf-8";
/* Header
----------------------------------------------------------------- */
.l-header {
  position: relative;
  z-index: 160;
  display: flex;
  width: 100%;
  @include mq-sp {
    padding: 0 0 0 15px;
  }
  .is-opened & {
    background-color: #fff;
  }
}
/* [header] logo
-----------------------------------------------*/
.l-header__logo {
  flex: 1;
  display: block;
  padding-top: 20px;
  line-height: 1;
  transition: padding-top .2s;
  @include mq-sp {
    padding-top: 10px;
  }
  .is-scrolled & {
    padding-top: 13px;
    @include mq-sp {
      padding-top: 8px;
    }
  }
  > a {
    display: inline-block;
    width: (323px/2);
    transition: opacity .2s, width .2s;
    @include mq-sp {
      width: 120px;
    }
    &:hover {
      @include mq-pc {
        opacity: .67;
      }
    }
  }
}
