@font-face {
  font-family: hiragino;
  src: url(/ifv/assets/font/hiragino-kaku-gothic-pro-w3.otf);
}
@font-face {
  font-family: hirakakupro;
  src: url(/ifv/assets/font/hirakakupro-w3-opentype.otf);
}
@font-face {
  font-family: helvetica;
  src: url(/ifv/assets/font/Helvetica-Bold-Font.ttf);
}
html {
  font-size: 10px !important;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  color: #3a3a3a;
  font-size: 1.4rem;
  line-height: 1.64;
  font-family: "hirakakupro";
}
body p {
  margin: 0;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.visiable-pc {
  display: block !important;
}
@media (max-width: 768px) {
  .visiable-pc {
    display: none !important;
  }
}

.visiable-sp {
  display: none !important;
}
@media (max-width: 768px) {
  .visiable-sp {
    display: block !important;
  }
}

.hdg-lv2 {
  position: relative;
  font-size: 3.4rem;
  line-height: 1.47;
  text-align: center;
  font-weight: normal;
  margin-bottom: 40px;
}
.hdg-lv2:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  background: #78d020;
  margin: 0 auto;
  bottom: -10px;
  left: 0;
  right: 0;
}

.hdg-lv3 {
  font-size: 2.6rem;
  line-height: 1.538;
  font-weight: normal;
}

.l-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .l-container {
    max-width: 100%;
  }
}

.box-content {
  display: flex;
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}
.box-content__title {
  width: 29.4%;
  margin-right: 10px;
  color: #fff;
  padding: 70px 30px 20px;
  box-sizing: border-box;
}
.box-content__title--sub {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: "helvetica";
  margin-bottom: 43px;
}
.box-content__title--sub span {
  display: block;
  font-weight: normal;
  font-size: 1.4rem;
}
.box-content__title--icon {
  margin-bottom: 43px;
  text-align: center;
}
.box-content__img {
  width: calc(100% - 29% - 10px);
  margin-left: 10px;
}
@media (max-width: 768px) {
  .box-content {
    flex-direction: column;
    padding: 0;
  }
  .box-content__title {
    display: flex;
    width: 100%;
    padding: 28px 10px 22px;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }
  .box-content__title--icon {
    margin-bottom: 0;
    margin-right: 18px;
  }
  .box-content__title--icon img {
    max-height: 80px;
    width: auto;
  }
  .box-content__title--sub {
    font-size: 4rem;
    line-height: 0.75;
    margin-bottom: 0;
  }
  .box-content__title--sub span {
    font-size: 2rem;
    margin-top: 15px;
  }
  .box-content__img {
    width: 100%;
    margin-left: 0;
    padding: 55px 30px 83px;
    box-sizing: border-box;
  }
}
@media (max-width: 480px) {
  .box-content__title {
    padding: 14px 5px 9px;
  }
  .box-content__title--icon {
    margin-right: 0;
  }
  .box-content__title--icon img {
    max-height: 40px;
    width: auto;
    margin-right: 9px;
  }
  .box-content__title--sub {
    font-size: 2rem;
  }
  .box-content__title--sub span {
    font-size: 10px;
    margin-top: 7px;
  }
  .box-content__img {
    width: 100%;
    margin-left: 0;
    padding: 28px 15px 38px;
    box-sizing: border-box;
  }
}

.box-media {
  position: relative;
  float: left;
  width: calc(50% - 10px);
  margin: 0 0 0 0;
}
.box-media__text {
  position: absolute;
  font-size: 1.8rem;
  letter-spacing: 0.08em;
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 22px;
  background: rgba(42, 42, 42, 0.8) url(/ifv/assets/images/penbg.png) bottom right no-repeat;
}
@media (min-width: 769px) {
  .box-media:nth-child(1) {
    margin-right: 10px;
  }
  .box-media:nth-child(2) {
    margin-left: 10px;
  }
  .box-media:nth-child(2) .box-media__text {
    padding: 20px 15px;
  }
  .box-media:nth-child(3) {
    margin-top: 18px;
    width: 100%;
  }
  .box-media:nth-child(4) {
    margin-left: 10px;
    margin-top: 18px;
  }
}
@media (max-width: 768px) {
  .box-media {
    width: 100%;
    float: inherit;
    margin-bottom: 19px;
  }
  .box-media__text {
    font-size: 2.6rem;
    padding: 14px;
    letter-spacing: 0;
  }
}
@media (max-width: 480px) {
  .box-media {
    margin-bottom: 10px;
  }
  .box-media__text {
    font-size: 1.3rem;
    padding: 7px;
  }
}

.banner {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text {
  font-size: 2.5rem;
  letter-spacing: 0.12em;
  font-weight: bold;
  text-shadow: 0 0 0.2em #000;
  opacity: 0.8;
}

#banner_works {
  background: url(/ifv/assets/images/img06.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 20.9vw;
}
#banner_works .banner-text {
  margin-left: 35px;
  margin-top: -10px;
}

#banner_interview {
  background: url(/ifv/assets/images/img14.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 20.9vw;
}
#banner_interview .banner-text {
  margin-top: -5px;
}

.group-item {
  text-align: center;
}
.group-item__title {
  font-size: 2.9rem;
  font-weight: bold;
  color: #F85050;
  margin-bottom: 40px;
}
.group-item__title span {
  font-size: 1.5rem;
  display: block;
  margin-top: 5px;
}
.group-item__img {
  margin-left: 20px;
  margin-bottom: 40px;
}
.group-item__text {
  margin-bottom: 45px;
}

.group-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  margin: 0 -10px;
}

#company {
  background: url(/ifv/assets/images/bg01.png) top left repeat;
  padding: 55px 0 83px;
}
#company .box-content__title {
  background: #78D020 url(/ifv/assets/images/penbg.png) bottom right no-repeat;
}
@media (max-width: 768px) {
  #company {
    background: none;
    padding: 0;
  }
  #company .box-content__img {
    background: url(/ifv/assets/images/bg01.png) top left repeat;
  }
}

#works {
  padding: 82px 0 80px;
}
#works .box-content__title {
  background: #007eff url(/ifv/assets/images/penbg.png) bottom right no-repeat;
  margin-right: 0;
  margin-left: 10px;
}
#works .box-content__img {
  margin-right: 10px;
  margin-left: 0;
}
@media (max-width: 768px) {
  #works {
    padding: 0;
  }
  #works .box-content__title {
    margin-left: 0;
    padding: 25px 10px 25px;
    order: 1 #works .box-content__title --icon;
    order-margin-bottom: 5px;
  }
  #works .box-content__img {
    margin-right: 0;
    padding-top: 50px;
    padding-bottom: 72px;
    order: 2;
  }
  #works .box-media {
    margin-bottom: 29px;
  }
}
@media (max-width: 480px) {
  #works .box-content__title {
    padding: 12px 5px 8px;
  }
  #works .box-content__title--icon {
    margin-bottom: 3px;
  }
  #works .box-content__img {
    padding-top: 25px;
    padding-bottom: 32px;
  }
  #works .box-media {
    margin-bottom: 15px;
  }
}

#interview {
  background: url(/ifv/assets/images/bg01.png) top left repeat;
  padding: 83px 0 80px;
}
#interview .box-content__title {
  background: #ffc000 url(/ifv/assets/images/penbg.png) bottom right no-repeat;
  padding: 72px 30px 20px;
}
#interview .box-content__title--sub span {
  margin-top: 5px;
}
#interview .box-content__img {
  margin-bottom: -20px;
}
#interview .box-media {
  margin-bottom: 20px;
}
#interview .box-media__text span {
  line-height: 1.6;
}
@media (min-width: 769px) {
  #interview .box-media:nth-child(3) {
    margin-top: 18px;
    width: calc(50% - 10px);
    margin-right: 10px;
  }
  #interview .box-media__text {
    padding: 10px 20px;
  }
  #interview .box-media__text .name {
    font-size: 20px;
  }
  #interview .box-media__text span {
    display: block;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #interview {
    background: none;
    padding: 0;
  }
  #interview .box-content__title {
    padding: 22px 30px 29px;
  }
  #interview .box-content__img {
    background: url(/ifv/assets/images/bg01.png) top left repeat;
    padding: 43px 30px 90px;
  }
  #interview .box-content-group {
    display: flex;
    margin: 0 -10px;
  }
  #interview .box-media {
    width: calc(50% - 20px);
    margin: 9px 10px;
  }
  #interview .box-media__text {
    letter-spacing: 0;
    line-height: 1.15;
    height: 100px;
    padding: 12px 11px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #interview .box-media__text .name {
    font-size: 2.6rem;
  }
  #interview .box-media__text span {
    font-size: 1.8rem;
    line-height: 1.2;
    display: block;
  }
}
@media (max-width: 480px) {
  #interview .box-content__title {
    padding: 12px 5px 11px;
  }
  #interview .box-content__img {
    padding: 22px 15px 45px;
  }
  #interview .box-content-group {
    margin: 0 -5px;
  }
  #interview .box-media {
    width: calc(50% - 10px);
    margin: 5px 5px 3px;
  }
  #interview .box-media__text {
    height: 50px;
    padding: 5px;
  }
  #interview .box-media__text .name {
    font-size: 1.3rem;
  }
  #interview .box-media__text span {
    font-size: 0.9rem;
    line-height: 1.3;
    display: block;
  }
}

#entry {
  padding: 67px 0 4px;
}

.l-header {
  background: url(/ifv/assets/images/bg-top.png) top center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 49.72%;
  font-size: 11.7rem;
  line-height: 1;
  letter-spacing: -0.3rem;
  font-weight: bold;
  font-family: helvetica;
  color: #fff;
  position: relative;
}
.l-header__content {
  position: absolute;
  top: 14.8%;
  left: 8.15%;
}
.l-header__text {
  font-size: 3.6rem;
  letter-spacing: 0.42rem;
  margin-top: -15px;
}
.l-header__sub {
  font-size: 2.3rem;
  letter-spacing: 0.4rem;
  margin-top: -10px;
  line-height: 1.5;
  font-family: hirakakupro;
}
.l-header__img {
  text-align: center;
  margin-left: -20px;
  line-height: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.l-header__img img {
  margin: 0 auto;
}
@media (min-width: 769px) and (max-width: 1190px) {
  .l-header {
    padding-bottom: 62.72%;
  }
}
@media (max-width: 768px) {
  .l-header {
    background: url(/ifv/assets/images/bg-top-sp.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 158.75%;
    justify-content: center;
    font-size: 23.046875vw;
    letter-spacing: 0;
  }
}
@media (max-width: 768px) and (max-width: 381.8305084746px) {
  .l-header {
    font-size: 88px;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .l-header {
    font-size: 177px;
  }
}
@media (max-width: 768px) {
  .l-header__content {
    top: 12.5%;
    left: 4.15%;
  }
}
@media (max-width: 768px) {
  .l-header__text {
    font-size: 7.5520833333vw;
    margin-top: -10px;
  }
}
@media (max-width: 768px) and (max-width: 384px) {
  .l-header__text {
    font-size: 29px;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .l-header__text {
    font-size: 58px;
  }
}
@media (max-width: 768px) {
  .l-header__sub {
    font-size: 4.3333333333vw;
    margin-top: -15px;
  }
}
@media (max-width: 768px) and (max-width: 384px) {
  .l-header__sub {
    font-size: 16.64px;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .l-header__sub {
    font-size: 33.28px;
  }
}
@media (max-width: 768px) {
  .l-header__img {
    margin-left: -15px;
    line-height: 0;
    margin-top: 38px;
    margin-bottom: 45px;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .l-header {
    font-size: 11.4583333333vw;
  }
}
@media (max-width: 768px) and (max-width: 480px) and (max-width: 506.1818181818px) {
  .l-header {
    font-size: 58px;
  }
}
@media (max-width: 768px) and (max-width: 480px) and (min-width: 768px) {
  .l-header {
    font-size: 88px;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .l-header__img {
    margin-top: 19px;
    margin-bottom: 23px;
    margin-left: -45%;
  }
  .l-header__img img {
    width: 65px;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .l-header__text {
    font-size: 1.5rem;
    margin-top: -5px;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .l-header__sub {
    font-size: 0.8rem;
    margin-top: -7px;
  }
}

/* Gnav
------------------------------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  color: #3a3a3a;
}
.navbar .menu a {
  text-decoration: none;
  text-align: center;
}
.navbar .logo {
  margin-top: 15px;
}
@media (min-width: 769px) and (max-width: 1190px) {
  .navbar .logo {
    flex: 1;
  }
  .navbar .logo img {
    width: 85%;
  }
  .navbar .menu {
    flex: 2;
  }
  .navbar .menu a {
    padding: 13px 15px 13px 15px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    display: block;
  }
  .navbar .menu {
    display: block;
    padding: 0;
    font-size: 2.8rem;
  }
  .navbar .menu a {
    text-align: left;
    padding: 28px 31px 33px;
  }
  .navbar .logo {
    padding: 64px 5px 35px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .navbar .logo img {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .navbar .menu {
    font-size: 1.4rem;
  }
  .navbar .logo img {
    width: 225px;
  }
}

.navbar-header .menu a {
  display: block;
  padding: 25px 15px 15px 15px;
  color: #3a3a3a;
}
.navbar-header .menu a:hover {
  opacity: 0.7;
}
.navbar-header .menu-icon {
  margin: 0;
}
.navbar-header .menu-icon img {
  height: 40px;
  width: auto;
}
.navbar-header .menu-text {
  margin: 0;
}
.navbar-header .menu li:nth-child(2) {
  margin-left: 9px;
}
.navbar-header .menu li:nth-child(3) {
  margin-left: 18px;
}
.navbar-header .menu li:nth-child(4) {
  margin-left: 15px;
}
.navbar-header .menu li:last-child a {
  padding-right: 0;
}
@media screen and (max-width: 768px) {
  .navbar-header {
    padding-right: 0;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-header .menu {
    display: none;
  }
  .navbar-header .menu.open {
    display: none;
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 5;
  }
  .navbar-header .menu a {
    color: #2a2a2a;
    font-size: 1.5rem;
  }
  .navbar-header .menu li:nth-child(2),
.navbar-header .menu li:nth-child(3),
.navbar-header .menu li:nth-child(4) {
    margin-left: 0;
  }
  .navbar-header .logo {
    text-align: left;
    padding: 25px 32px 18px;
  }
  .navbar-header .logo img {
    width: 412px;
  }
  .navbar-header .btn-close {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  .navbar-header .logo img {
    width: 75%;
  }
}
@media (max-width: 480px) {
  .navbar-header {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .navbar-header .logo {
    padding: 12px 16px 9px;
  }
  .navbar-header .logo img {
    width: 206px;
  }
}

.navbar-footer .menu .active {
  color: #f85050;
}
.navbar-footer .menu a {
  display: block;
  color: #3a3a3a;
  line-height: 2.14;
  position: relative;
  padding: 25px 30px 25px 29px;
}
.navbar-footer .menu a:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 30%;
  background-color: #d5d5d5;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-footer .menu li:first-child a:before {
  display: none;
}
.navbar-footer .menu li:last-child {
  margin-left: 10px;
}
.navbar-footer .menu li:last-child a {
  color: #fff;
  background: #f85050;
  padding: 25px 26px;
}
.navbar-footer .menu li:last-child a:before {
  display: none;
}
.navbar-footer .logo {
  padding-left: 8%;
  margin-top: 10px;
}
@media (min-width: 769px) and (max-width: 1190px) {
  .navbar-footer .menu a {
    padding: 13px 15px 13px 15px;
  }
  .navbar-footer .menu li:last-child a {
    padding: 13px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-footer {
    display: block;
  }
  .navbar-footer .menu {
    display: block;
    padding: 0;
  }
  .navbar-footer .menu a {
    padding: 25px 30px 28px 29px;
  }
  .navbar-footer .menu a:before {
    display: none;
  }
  .navbar-footer .menu a:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 30px;
    width: 10px;
    height: 18px;
    background: url(/ifv/assets/images/icon01.png) no-repeat;
    background-size: 10px 18px;
  }
  .navbar-footer .menu li {
    border-top: 1px solid #d6d6d6;
  }
  .navbar-footer .menu li:last-child {
    margin-left: 0;
    text-align: center;
    padding: 31px 30px 54px;
  }
  .navbar-footer .menu li:last-child a {
    padding: 15px 10px 12px;
    text-align: center;
  }
  .navbar-footer .menu li:last-child a:after {
    display: none;
  }
}
@media (max-width: 480px) {
  .navbar-footer .menu a {
    padding: 13px 15px 14px 15px;
  }
  .navbar-footer .menu a:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 15px;
    width: 5px;
    height: 9px;
    background: url(/ifv/assets/images/icon01.png) no-repeat;
    background-size: 5px 9px;
  }
  .navbar-footer .menu li {
    border-top: 1px solid #d6d6d6;
  }
  .navbar-footer .menu li:last-child {
    margin-left: 0;
    text-align: center;
    padding: 15px 15px 27px;
  }
  .navbar-footer .menu li:last-child a {
    padding: 8px 5px 6px;
  }
  .navbar-footer .logo {
    padding-bottom: 14px;
  }
}

/*Footer copy right*/
footer .copyright {
  background-color: #2a2a2a;
  color: #fff;
  padding: 33px 0;
  text-align: center;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  footer .copyright {
    padding: 7% 0;
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  footer .copyright {
    padding: 7% 0;
    font-size: 0.9rem;
  }
}

.l-footer {
  background: #ececec;
}

#pageTop {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 998;
  padding: 0;
  opacity: 0;
  transition: all 0.3s linear;
}
#pageTop a img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  #pageTop {
    right: 10px;
  }
  #pageTop a img {
    width: 112px;
    height: 112px;
  }
}
@media (max-width: 480px) {
  #pageTop {
    right: 5px;
  }
  #pageTop a img {
    width: 56px;
    height: 56px;
  }
}

.icn-arrow-top {
  position: fixed;
  right: 0;
  bottom: 25px;
  opacity: 1;
  display: none;
}

.btn-menu {
  position: absolute;
  background: url(/ifv/assets/images/icon-menu.png) top center no-repeat;
  background-size: 64px 57px;
  top: 30px;
  right: 30px;
  width: 64px;
  height: 57px;
  display: none;
}
.btn-menu.open {
  background: url(/ifv/assets/images/img-close.png) top center no-repeat;
  background-size: 41px 40px;
}
@media screen and (max-width: 768px) {
  .btn-menu {
    display: block;
  }
}
@media (max-width: 480px) {
  .btn-menu {
    background-size: 32px 29px;
    top: 15px;
    right: 15px;
    width: 32px;
    width: 32px;
    height: 29px;
  }
  .btn-menu.open {
    background-size: 20px 20px;
  }
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21%;
  padding: 25px 0;
  color: #fff;
  font-size: 1.5rem;
  margin: 0 10px;
}
.btn:hover {
  opacity: 0.7;
}
.btn-entry {
  background: #F85050;
}
.btn-app {
  background: #fbd0d0;
  color: #F85050;
}

#page_company .l-header {
  background: url(/ifv/assets/images/company-imgheader.png) top center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  font-size: 3.4rem;
  line-height: 2.853;
}
#page_company .l-header__text {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 100px;
  padding-top: 40px;
}
#page_company .l-header__text img {
  margin-right: 10px;
}
#page_company .l-header__content {
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
#page_company #president .wrap-container {
  background: #f4f4f7 url(/ifv/assets/images/company-img01.png) top right no-repeat;
}
#page_company #president .wrap-text {
  width: calc(50% - 16px);
  padding-top: 80px;
  padding-bottom: 85px;
}
#page_company #president .txt-sign {
  font-size: 1.6rem;
  text-align: right;
}
#page_company #president .txt-sign span {
  font-size: 3.6rem;
  margin-left: 15px;
}
#page_company #desired .wrap-container {
  color: #fff;
  background: url(/ifv/assets/images/company-img02.png) top center no-repeat;
  background-size: 100% 100%;
  padding-top: 5.83333%;
  padding-bottom: 3.75%;
}
#page_company #desired .wrap-container .wrap-text {
  width: 50.25%;
  margin: 0 auto;
  background-color: rgba(51, 51, 51, 0.7);
  box-shadow: -23px -23px 0px -2px rgba(255, 255, 255, 0.32);
}
#page_company #desired .wrap-text {
  text-align: center;
  padding: 10px 60px 35px;
}
@media screen and (max-width: 768px) {
  #page_company #desired .wrap-container {
    color: #fff;
    background: url(/ifv/assets/images/company-img02-sp.png) top center no-repeat;
  }
}