@font-face {
  font-family: hiragino;
  src: url(/ifv/assets/font/hiragino-kaku-gothic-pro-w3.otf);
}
@font-face {
  font-family: hirakakupro;
  src: url(/ifv/assets/font/hirakakupro-w3-opentype.otf);
}
@font-face {
  font-family: helvetica;
  src: url(/ifv/assets/font/Helvetica-Bold-Font.ttf);
}
@font-face {
  font-family: hakusyuGyosyo;
  src: url(/ifv/assets/font/HakusyuGyosyoBold_21824.ttf);
}
html {
  font-size: 10px !important;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  color: #3a3a3a;
  font-size: 1.4rem;
  line-height: 1.64;
  font-family: "hirakakupro";
}
body p {
  margin: 0;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.visiable-pc {
  display: block !important;
}
@media (max-width: 768px) {
  .visiable-pc {
    display: none !important;
  }
}

.visiable-sp {
  display: none !important;
}
@media (max-width: 768px) {
  .visiable-sp {
    display: block !important;
  }
}

.mb-5 {
  margin-bottom: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.hdg-lv2 {
  position: relative;
  font-size: 3.4rem;
  line-height: 1.47;
  text-align: center;
  font-weight: normal;
  margin-bottom: 45px;
}
.hdg-lv2:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  background: #78d020;
  margin: 0 auto;
  bottom: -10px;
  left: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .hdg-lv2 {
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 22px;
  }
  .hdg-lv2:after {
    width: 15px;
    height: 2.5px;
    bottom: -6px;
  }
}

.hdg-lv3 {
  font-size: 2.6rem;
  line-height: 1.538;
  font-weight: normal;
  margin-bottom: 22px;
}
@media screen and (max-width: 768px) {
  .hdg-lv3 {
    font-size: 1.9rem;
    line-height: 1.31579;
    margin-top: 22px;
    margin-bottom: 18px;
    letter-spacing: 0.01em;
  }
}

.l-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .l-container {
    max-width: 100%;
  }
}

.box-content {
  display: flex;
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}
.box-content__title {
  width: 29.4%;
  margin-right: 10px;
  color: #fff;
  padding: 70px 30px 20px;
  box-sizing: border-box;
}
.box-content__title--sub {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: "helvetica";
  margin-bottom: 43px;
}
.box-content__title--sub span {
  display: block;
  font-weight: normal;
  font-size: 1.4rem;
}
.box-content__title--icon {
  margin-bottom: 43px;
  text-align: center;
}
.box-content__img {
  width: calc(100% - 29% - 10px);
  margin-left: 10px;
}
@media (max-width: 768px) {
  .box-content {
    flex-direction: column;
    padding: 0;
  }
  .box-content__title {
    display: flex;
    width: 100%;
    padding: 14px 5px 10px;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }
  .box-content__title--icon {
    margin-bottom: 0;
    margin-right: 0;
  }
  .box-content__title--icon img {
    max-height: 38px;
    width: auto;
    margin-right: 9px;
  }
  .box-content__title--sub {
    font-size: 2rem;
    line-height: 0.75;
    margin-bottom: 0;
  }
  .box-content__title--sub span {
    font-size: 1rem;
    margin-top: 4px;
  }
  .box-content__img {
    width: 100%;
    margin-left: 0;
    padding: 28px 15px 42px;
    box-sizing: border-box;
  }
}

.box-media {
  position: relative;
  float: left;
  width: calc(50% - 10px);
  margin: 0 0 0 0;
}
.box-media__text {
  position: absolute;
  font-size: 1.8rem;
  letter-spacing: 0.08em;
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 22px;
  background: rgba(42, 42, 42, 0.8) url(/ifv/assets/images/penbg.png) bottom right no-repeat;
}
@media (min-width: 769px) {
  .box-media:nth-child(1) {
    margin-right: 10px;
  }
  .box-media:nth-child(2) {
    margin-left: 10px;
  }
  .box-media:nth-child(2) .box-media__text {
    padding: 20px 15px;
  }
  .box-media:nth-child(3) {
    margin-top: 18px;
    width: 100%;
  }
  .box-media:nth-child(4) {
    margin-left: 10px;
    margin-top: 18px;
  }
}
@media (max-width: 768px) {
  .box-media {
    width: 100%;
    float: inherit;
    margin-bottom: 9px;
  }
  .box-media__text {
    font-size: 1.3rem;
    padding: 7px;
    letter-spacing: 0;
  }
}

.banner {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text {
  font-size: 2.5rem;
  letter-spacing: 0.12em;
  font-weight: bold;
  text-shadow: 0 0 0.2em #000;
  opacity: 0.8;
}

#banner_works {
  background: url(/ifv/assets/images/img06.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 20.9vw;
}
#banner_works .banner-text {
  margin-left: 35px;
  margin-top: -10px;
}

#banner_interview {
  background: url(/ifv/assets/images/img14.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 20.9vw;
}
#banner_interview .banner-text {
  margin-top: -5px;
}

.group-item {
  text-align: center;
}
.group-item__title {
  font-size: 2.9rem;
  font-weight: bold;
  color: #F85050;
  margin-bottom: 40px;
}
.group-item__title span {
  font-size: 1.5rem;
  display: block;
  margin-top: 5px;
}
.group-item__img {
  margin-left: 20px;
  margin-bottom: 40px;
}
.group-item__text {
  margin-bottom: 45px;
}

.group-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

#company {
  background: url(/ifv/assets/images/bg01.png) top left repeat;
  padding: 55px 0 83px;
}
#company .box-content__title {
  background: #78D020 url(/ifv/assets/images/penbg.png) bottom right no-repeat;
}
@media (max-width: 768px) {
  #company {
    background: none;
    padding: 0;
  }
  #company .box-content__img {
    background: url(/ifv/assets/images/bg01.png) top left repeat;
  }
}

#works {
  padding: 82px 0 80px;
}
#works .box-content__title {
  background: #007eff url(/ifv/assets/images/penbg.png) bottom right no-repeat;
  margin-right: 0;
  margin-left: 10px;
}
#works .box-content__img {
  margin-right: 10px;
  margin-left: 0;
}
@media (max-width: 768px) {
  #works {
    padding: 0;
  }
  #works .box-content__title {
    margin-left: 0;
    padding: 12px 5px 9px;
  }
  #works .box-content__title--icon {
    margin-bottom: 3px;
  }
  #works .box-content__img {
    margin-right: 0;
    padding-top: 25px;
    padding-bottom: 35px;
    order: 2;
  }
  #works .box-media {
    margin-bottom: 15px;
  }
}

#interview {
  background: url(/ifv/assets/images/bg01.png) top left repeat;
  padding: 83px 0 80px;
}
#interview .box-content__title {
  background: #ffc000 url(/ifv/assets/images/penbg.png) bottom right no-repeat;
  padding: 72px 30px 20px;
}
#interview .box-content__title--sub span {
  margin-top: 5px;
}
#interview .box-content__img {
  margin-bottom: -20px;
}
#interview .box-media {
  margin-bottom: 20px;
}
#interview .box-media__text span {
  line-height: 1.6;
}
@media (min-width: 769px) {
  #interview .box-media:nth-child(3) {
    margin-top: 18px;
    width: calc(50% - 10px);
    margin-right: 10px;
  }
  #interview .box-media__text {
    padding: 10px 20px;
  }
  #interview .box-media__text .name {
    font-size: 20px;
  }
  #interview .box-media__text span {
    display: block;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  #interview {
    background: none;
    padding: 0;
  }
  #interview .box-content__title {
    padding: 12px 5px 11px;
  }
  #interview .box-content__img {
    background: url(/ifv/assets/images/bg01.png) top left repeat;
    padding: 22px 15px 45px;
  }
  #interview .box-content-group {
    display: flex;
    margin: 0 -5px;
  }
  #interview .box-media {
    width: calc(50% - 10px);
    margin: 5px 5px 3px;
  }
  #interview .box-media__text {
    letter-spacing: 0;
    line-height: 1.15;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50px;
    padding: 5px;
  }
  #interview .box-media__text .name {
    font-size: 1.3rem;
  }
  #interview .box-media__text span {
    font-size: 0.9rem;
    line-height: 1.3;
    display: block;
  }
}

#entry {
  padding: 67px 0 4px;
}

@media screen and (max-width: 768px) {
  #page-top .navbar-header {
    padding: 0 15px;
  }
}

.l-header {
  background: url(/ifv/assets/images/bg-top.png) top center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 49.72%;
  font-size: 11.7rem;
  line-height: 1;
  letter-spacing: -0.3rem;
  font-weight: bold;
  font-family: helvetica;
  color: #fff;
  position: relative;
}
.l-header__content {
  position: absolute;
  top: 14.8%;
  left: 8.15%;
}
.l-header__text {
  font-size: 3.6rem;
  letter-spacing: 0.42rem;
  margin-top: -15px;
}
.l-header__sub {
  font-size: 2.3rem;
  letter-spacing: 0.4rem;
  margin-top: -10px;
  line-height: 1.5;
  font-family: hirakakupro;
}
.l-header__img {
  text-align: center;
  margin-left: -20px;
  line-height: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.l-header__img img {
  margin: 0 auto;
}
@media (min-width: 769px) and (max-width: 1190px) {
  .l-header {
    padding-bottom: 62.72%;
  }
}
@media (max-width: 768px) {
  .l-header {
    background: url(/ifv/assets/images/bg-top-sp.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 158.75%;
    justify-content: center;
    font-size: 11.4583333333vw;
    letter-spacing: 0;
  }
}
@media (max-width: 768px) and (max-width: 506.1818181818px) {
  .l-header {
    font-size: 58px;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .l-header {
    font-size: 88px;
  }
}
@media (max-width: 768px) {
  .l-header__img {
    margin-top: 19px;
    margin-bottom: 23px;
    margin-left: -45%;
  }
  .l-header__img img {
    width: 65px;
  }
}
@media (max-width: 768px) {
  .l-header__text {
    font-size: 3.7760416667vw;
    margin-top: -5px;
  }
}
@media (max-width: 768px) and (max-width: 397.2413793103px) {
  .l-header__text {
    font-size: 15px;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .l-header__text {
    font-size: 29px;
  }
}
@media (max-width: 768px) {
  .l-header__sub {
    font-size: 2.1666666667vw;
    margin-top: -7px;
  }
}
@media (max-width: 768px) and (max-width: 384px) {
  .l-header__sub {
    font-size: 8.32px;
  }
}
@media (max-width: 768px) and (min-width: 768px) {
  .l-header__sub {
    font-size: 16.64px;
  }
}
@media (max-width: 768px) {
  .l-header__img {
    margin-left: -15px;
    line-height: 0;
    margin-top: 38px;
    margin-bottom: 45px;
  }
}

/* Gnav
------------------------------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  color: #3a3a3a;
}
.navbar .menu a {
  text-decoration: none;
  text-align: center;
}
.navbar .logo {
  margin-top: 15px;
}
@media (min-width: 769px) and (max-width: 1190px) {
  .navbar .logo {
    flex: 1;
  }
  .navbar .logo img {
    max-width: 308px;
  }
  .navbar .menu {
    flex: 1;
    padding-left: 20px;
  }
  .navbar .menu a {
    padding: 13px 15px 13px 15px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    display: block;
  }
  .navbar .menu {
    display: block;
    padding: 0;
    font-size: 1.4rem;
  }
  .navbar .menu a {
    text-align: left;
    padding: 28px 31px 33px;
  }
  .navbar .logo {
    padding: 33px 5px 35px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .navbar .logo img {
    width: 225px;
  }
}

.navbar-header .menu a {
  display: block;
  padding: 25px 15px 15px 15px;
  color: #3a3a3a;
}
.navbar-header .menu a:hover {
  opacity: 0.7;
}
.navbar-header .menu-icon {
  margin: 0;
}
.navbar-header .menu-icon img {
  height: 40px;
  width: auto;
}
.navbar-header .menu-text {
  margin: 0;
}
.navbar-header .menu li:nth-child(2) {
  margin-left: 9px;
}
.navbar-header .menu li:nth-child(3) {
  margin-left: 18px;
}
.navbar-header .menu li:nth-child(4) {
  margin-left: 15px;
}
.navbar-header .menu li:last-child a {
  padding-right: 0;
}
@media (max-width: 1010px) and (min-width: 769px) {
  .navbar-header {
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-header {
    padding-right: 0;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .navbar-header .menu {
    display: none;
  }
  .navbar-header .menu.open {
    display: none;
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 5;
  }
  .navbar-header .menu a {
    color: #2a2a2a;
    font-size: 1.5rem;
  }
  .navbar-header .menu li:nth-child(2),
.navbar-header .menu li:nth-child(3),
.navbar-header .menu li:nth-child(4) {
    margin-left: 0;
  }
  .navbar-header .logo {
    text-align: left;
    padding: 12px 0 9px;
  }
  .navbar-header .logo img {
    width: 206px;
  }
  .navbar-header .btn-close {
    display: none;
  }
}

.navbar-footer .menu a {
  display: block;
  color: #3a3a3a;
  line-height: 2.14;
  position: relative;
  padding: 25px 30px 25px 29px;
}
.navbar-footer .menu a:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 30%;
  background-color: #d5d5d5;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-footer .menu li:first-child a:before {
  display: none;
}
.navbar-footer .menu li:last-child {
  margin-left: 10px;
}
.navbar-footer .menu li:last-child a {
  color: #fff;
  background: #f85050;
  padding: 25px 26px;
}
.navbar-footer .menu li:last-child a:before {
  display: none;
}
.navbar-footer .logo {
  padding-left: 8.2%;
  margin-top: 5px;
}
@media (min-width: 769px) and (max-width: 1190px) {
  .navbar-footer .menu a {
    padding: 13px 10px 13px 10px;
  }
  .navbar-footer .menu li:last-child a {
    padding: 13px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-footer {
    display: block;
  }
  .navbar-footer .menu {
    display: block;
    padding: 0;
  }
  .navbar-footer .menu a {
    padding: 13px 15px 13px 15px;
  }
  .navbar-footer .menu a:before {
    display: none;
  }
  .navbar-footer .menu a:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 15px;
    width: 5px;
    height: 9px;
    background: url(/ifv/assets/images/icon01.png) no-repeat;
    background-size: 5px 9px;
  }
  .navbar-footer .menu li {
    border-top: 1px solid #d6d6d6;
  }
  .navbar-footer .menu li:last-child {
    margin-left: 0;
    text-align: center;
    padding: 18px 15px 27px;
  }
  .navbar-footer .menu li:last-child a {
    padding: 8px 5px 6px;
    text-align: center;
  }
  .navbar-footer .menu li:last-child a:after {
    display: none;
  }
  .navbar-footer .logo {
    padding-bottom: 14px;
  }
}

/*Footer copy right*/
footer .copyright {
  background-color: #2a2a2a;
  color: #fff;
  padding: 33px 0;
  text-align: center;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  footer .copyright {
    padding: 22px 5px;
    font-size: 0.9rem;
  }
}

.l-footer {
  background: #ececec;
}

.icn-arrow-top {
  position: fixed;
  right: 30px;
  bottom: 95px;
  opacity: 1;
  display: none;
  width: 67px;
  height: 67px;
}
@media (max-width: 768px) {
  .icn-arrow-top {
    width: 56px;
    height: 56px;
    right: 5px;
    bottom: 47px;
  }
}

.btn-menu {
  position: absolute;
  background: url(/ifv/assets/images/icon-menu.png) top center no-repeat;
  background-size: 64px 57px;
  top: 30px;
  right: 30px;
  width: 64px;
  height: 57px;
  display: none;
}
.btn-menu.open {
  background: url(/ifv/assets/images/img-close.png) top center no-repeat;
  background-size: 41px 40px;
}
@media screen and (max-width: 768px) {
  .btn-menu {
    display: block;
    background-size: 32px 29px;
    top: 15px;
    right: 0;
    width: 32px;
    width: 32px;
    height: 29px;
  }
  .btn-menu.open {
    background-size: 20px 20px;
  }
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.5%;
  padding: 25px 0;
  color: #fff;
  font-size: 1.5rem;
  margin: 0 10px;
}
.btn:hover {
  opacity: 0.7;
}
.btn-entry {
  background: #F85050;
}
.btn-app {
  background: #fbd0d0;
  color: #F85050;
}

.btn-accept {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dbdbdb;
  max-width: 470px;
}
.btn-accept .text {
  position: relative;
  color: #fff;
  background: #f85050;
  width: 50%;
  line-height: 4.7;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
}
.btn-accept .text:hover {
  opacity: 0.7;
}
.btn-accept .text:after {
  position: absolute;
  content: "";
  top: 50%;
  right: -8px;
  width: 0;
  margin-top: -10px;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent #f85050;
  border-width: 8px 0 8px 8px;
}
.btn-accept .logo {
  max-width: 196px;
  padding-right: 19px;
  margin-top: 3px;
}
@media screen and (max-width: 768px) {
  .btn-accept {
    flex-direction: column;
  }
  .btn-accept .text {
    width: 100%;
  }
  .btn-accept .text:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #f85050 transparent transparent transparent;
    top: auto;
    bottom: -4px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .btn-accept .logo {
    padding: 18px 0;
  }
}

#page_company .l-container {
  position: static;
}
@media screen and (max-width: 768px) {
  #page_company .l-container {
    padding: 0 15px;
  }
}
#page_company .l-header {
  background: url(/ifv/assets/images/company-imgheader.png) top center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  font-size: 3.4rem;
  line-height: 2.853;
  padding-bottom: 54%;
  position: relative;
  margin-bottom: 70px;
}
#page_company .l-header .icon {
  margin-top: 5px;
  margin-right: 10px;
}
#page_company .l-header__text {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 63px;
  padding-top: 52px;
  margin-left: 2px;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page_company .l-header__content {
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 3.4rem;
  line-height: 2.853;
  letter-spacing: 0;
}
#page_company .l-header__sub {
  font-size: 2rem;
  line-height: 4.85;
  letter-spacing: 0.1rem;
  margin-top: -50px;
}
@media (max-width: 1199px) and (min-width: 769px) {
  #page_company .l-header__text {
    margin-bottom: 2%;
  }
  #page_company .l-header__content {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  #page_company .l-header {
    background: url(/ifv/assets/images/company-imgheader-sp.png) top center no-repeat;
    background-size: 100% 100%;
    padding-bottom: 131.1475%;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 81px;
  }
  #page_company .l-header .icon {
    margin-top: 0;
    margin-right: 4px;
    width: 10px;
    height: auto;
  }
  #page_company .l-header__text {
    padding-top: 30px;
    padding-left: 0;
    margin-bottom: 25px;
    margin-left: 20px;
  }
  #page_company .l-header__text span {
    font-size: 2rem;
    line-height: 0.75;
    letter-spacing: 0;
  }
  #page_company .l-header__content {
    font-size: 1.7rem;
    line-height: 2.8438;
  }
  #page_company .l-header__sub {
    font-size: 1.2rem;
    line-height: 4.02875;
    margin-top: -25px;
  }
}
#page_company .navbar a.active {
  color: #78d020;
}
@media (max-width: 1010px) and (min-width: 769px) {
  #page_company .navbar-header {
    padding: 0 30px;
  }
}
#page_company .group-text {
  font-family: hirakakupro;
  width: 83.3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  left: 8.3%;
  bottom: 0;
}
#page_company .group-text__item {
  width: 48.5%;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
  background: rgba(65, 66, 67, 0.8);
  color: #ffffff;
  padding-top: 2%;
}
#page_company .group-text__title {
  color: #7fdc22;
  font-weight: bold;
  margin: 2% 0 2%;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 2.5;
}
#page_company .group-text__sub {
  font-size: 3rem;
  line-height: 1.667;
  letter-spacing: 0;
  margin-top: -7px;
  margin-bottom: 25px;
}
#page_company .group-text__content {
  padding-bottom: 7%;
  letter-spacing: 0;
}
#page_company .group-text__list {
  list-style-type: none;
  text-align: left;
  width: 247px;
  margin: 0 auto;
}
#page_company .group-text__list .label {
  display: flex;
  align-items: center;
}
#page_company .group-text__list .label .line {
  border-bottom: 1px solid #fff;
  flex-grow: 1;
  margin-right: 12px;
  margin-left: 5px;
}
#page_company .group-text__list .label :nth-child(2) .line {
  margin-left: 7px;
}
#page_company .group-text__list .label .line {
  margin-left: 6px;
}
#page_company .group-text__list .action,
#page_company .group-text__list .status {
  line-height: 1.75;
  letter-spacing: 0.05em;
}
@media (max-width: 1199px) and (min-width: 769px) {
  #page_company .group-text__content {
    font-size: 1.2rem;
  }
  #page_company .group-text__title {
    line-height: 1.5;
  }
}
@media screen and (max-width: 768px) {
  #page_company .group-text {
    width: calc(100% - 30px);
    left: 15px;
    top: 37%;
    display: block;
  }
  #page_company .group-text__item {
    width: calc(100%);
    margin-bottom: 5px;
    display: block;
    padding: 5px 15px 0;
    box-sizing: border-box;
  }
  #page_company .group-text__title {
    font-size: 1.3rem;
    line-height: 1.923;
    margin: 6px 0 5px;
  }
  #page_company .group-text__sub {
    font-size: 1.7rem;
    margin-bottom: 6px;
  }
  #page_company .group-text__content {
    font-size: 1.2rem;
    padding-bottom: 13px;
    text-align: left;
    line-height: 1.5;
    font-weight: normal;
  }
  #page_company .group-text__list {
    width: 185px;
    font-weight: normal;
    padding-bottom: 8px;
  }
  #page_company .group-text__list .label {
    margin-top: -3px;
  }
  #page_company .group-text__list .label .line {
    margin-right: 5px;
  }
  #page_company .group-text__right .group-text__title {
    margin: 3px 0 10px;
  }
  #page_company .group-text .action,
#page_company .group-text .status {
    font-size: 1.3rem;
    letter-spacing: 0;
  }
}
#page_company #president {
  margin-bottom: 72px;
}
#page_company #president .wrap-container {
  background: #f4f4f7 url(/ifv/assets/images/company-img01.png) top right no-repeat;
}
#page_company #president .wrap-text {
  width: calc(50% - 13px);
  padding-top: 52px;
  padding-bottom: 80px;
}
#page_company #president .text {
  line-height: 1.642857;
  letter-spacing: 0.01em;
  margin-left: -3px;
  margin-bottom: 20px;
}
#page_company #president .txt-sign {
  font-size: 1.6rem;
  line-height: 2.5;
  text-align: right;
}
#page_company #president .txt-sign span {
  margin-left: 14px;
}
@media (max-width: 1199px) and (min-width: 769px) {
  #page_company #president .wrap-text {
    padding-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  #page_company #president {
    margin-bottom: 43px;
  }
  #page_company #president .wrap-container {
    background: none;
  }
  #page_company #president .wrap-text {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  #page_company #president .text {
    line-height: 1.45;
    letter-spacing: 0.01em;
    margin-bottom: 7px;
  }
  #page_company #president .txt-sign {
    line-height: 1.45;
    letter-spacing: 0.01em;
  }
  #page_company #president .txt-sign span {
    display: block;
  }
  #page_company #president .txt-sign span img {
    width: 94px;
    height: auto;
  }
}
#page_company #desired .hdg-lv2 {
  margin-bottom: 42px;
}
#page_company #desired .hdg-lv3 {
  margin-bottom: 18px;
  margin-top: 30px;
}
#page_company #desired .wrap-container {
  position: relative;
  color: #fff;
  background: url(/ifv/assets/images/company-img02.png) top center no-repeat;
  background-size: 100% 100%;
  padding-bottom: 48.33333%;
}
#page_company #desired .wrap-container .wrap-text {
  position: absolute;
  width: 50.2%;
  margin: 0 auto;
  left: 26.2%;
  top: 12.33%;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.7);
  box-shadow: -21px -20px 0px 1px rgba(255, 255, 255, 0.32);
}
#page_company #desired .text {
  line-height: 1.642857;
  letter-spacing: 0;
  margin-bottom: 23px;
}
#page_company #desired .text:last-child {
  margin-bottom: 40px;
}
@media (max-width: 1199px) and (min-width: 769px) {
  #page_company #desired .wrap-container .wrap-text {
    font-size: 12px;
    padding: 0 15px;
    box-sizing: border-box;
    width: 65%;
    left: 12%;
    top: 10.33%;
  }
  #page_company #desired .hdg-lv3 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #page_company #desired .text {
    margin-bottom: 15px;
  }
  #page_company #desired .text:last-child {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  #page_company #desired .wrap-container {
    color: #fff;
    background: url(/ifv/assets/images/company-img02-sp.png) top center no-repeat;
    background-size: 100% 100%;
    padding-bottom: 271.09375%;
  }
  #page_company #desired .wrap-container .wrap-text {
    width: calc(100% - 30px);
    left: 15px;
    box-shadow: none;
    top: 25px;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: left;
  }
  #page_company #desired .hdg-lv2 {
    margin-bottom: 25px;
  }
  #page_company #desired .hdg-lv2:after {
    bottom: -9px;
  }
  #page_company #desired .hdg-lv3 {
    text-align: center;
    margin-top: 20px;
  }
  #page_company #desired .text {
    line-height: 1.43;
    margin-bottom: 19px;
  }
  #page_company #desired .text:last-child {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  #page_company .navbar-footer .logo {
    margin-top: 0;
    margin-left: -20px;
  }
}

#page_entry .hdg-lv2:after {
  background: #f85050;
}
@media screen and (max-width: 768px) {
  #page_entry .l-container {
    padding: 0 15px;
  }
}
#page_entry .l-header {
  background: url(/ifv/assets/images/entry-imgheader.jpg) top center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 28.3333%;
  position: relative;
  margin-bottom: 68px;
  line-height: 1;
  text-align: center;
}
#page_entry .l-header .icon {
  margin-right: 15px;
}
#page_entry .l-header__text {
  font-family: helvetica;
  margin-bottom: 90px;
  margin-top: 0;
  padding-top: 30px;
  margin-left: 15px;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
#page_entry .l-header__content {
  top: 0;
  left: 0;
  right: 0;
  letter-spacing: 0;
  font-size: 3rem;
  font-family: hirakakupro;
  margin-left: -15px;
}
@media screen and (max-width: 768px) {
  #page_entry .l-header {
    margin-bottom: 34px;
    padding-bottom: 66%;
  }
  #page_entry .l-header .icon {
    max-width: 16px;
    margin-right: 7px;
  }
  #page_entry .l-header__text {
    font-size: 2.6041666667vw;
    margin-bottom: 6.25%;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  #page_entry .l-header__text {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) and (min-width: 768px) {
  #page_entry .l-header__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  #page_entry .l-header__content {
    font-size: 2.6041666667vw;
    margin-left: 0px;
    top: 10%;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  #page_entry .l-header__content {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) and (min-width: 768px) {
  #page_entry .l-header__content {
    font-size: 20px;
  }
}
#page_entry .navbar a.active {
  color: #f85050;
}
@media (max-width: 1010px) and (min-width: 769px) {
  #page_entry .navbar-header {
    padding: 0 30px;
  }
}
#page_entry .wrp-container {
  max-width: 798px;
  margin: 0 auto;
}
#page_entry .group-items {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 -16px;
}
#page_entry .group-items-content {
  width: calc(100% - 32px);
  margin: 0 16px;
  color: #fff;
  padding-top: 33px;
  padding-bottom: 15px;
}
#page_entry .group-items-content .title {
  font-size: 1.6rem;
  font-weight: bold;
}
#page_entry .group-items__title {
  font-size: 2.4rem;
  color: #fa9b9b;
  text-align: center;
  margin-left: -14px;
  margin-bottom: 14px;
}
#page_entry .group-items__text {
  padding: 0 40px;
}
#page_entry .group-items--left {
  background: url(/ifv/assets/images/entry-img01.jpg) top center no-repeat;
  background-size: 100% 100%;
}
#page_entry .group-items--right {
  background: url(/ifv/assets/images/entry-img02.jpg) top center no-repeat;
  background-size: 100% 100%;
}
#page_entry .group-items--right .group-items__text {
  padding: 0 10px 0 37px;
}
#page_entry .group-items--right .group-items__title {
  margin-left: 22px;
  margin-bottom: 15px;
}
#page_entry .group-items--right .lst-description {
  margin-bottom: 17px;
}
#page_entry .group-items ul {
  list-style-type: none;
}
#page_entry .group-items ul li {
  position: relative;
  padding-left: 12px;
}
#page_entry .group-items ul li:before {
  position: absolute;
  content: "";
  background: url(/ifv/assets/images/icn-dot01.png) center center no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  top: 0;
  left: 0;
  margin-top: 8px;
}
@media (max-width: 1010px) and (min-width: 769px) {
  #page_entry .group-items {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  #page_entry .group-items {
    display: block;
    margin: 0;
  }
  #page_entry .group-items-content {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 7px;
    margin: 0;
  }
  #page_entry .group-items-content .title {
    font-size: 1.3rem;
  }
  #page_entry .group-items__title {
    font-size: 1.6rem;
    color: #fa9b9b;
    text-align: center;
    margin-left: -7px;
    margin-bottom: 7px;
  }
  #page_entry .group-items__text {
    padding: 0 20px;
    font-size: 1.3rem;
  }
  #page_entry .group-items--right {
    margin-top: 10px;
  }
  #page_entry .group-items--right .group-items__text {
    padding: 0 20px 0 20px;
  }
  #page_entry .group-items--right .group-items__title {
    margin-left: 0;
    margin-bottom: 7px;
  }
  #page_entry .group-items--right .lst-description {
    margin-bottom: 9px;
  }
}
#page_entry .tbl-recruitment {
  font-size: 1.4rem;
  line-height: 1.5714;
  color: #2a2a2a;
  padding: 35px 0 40px;
  width: 100%;
}
#page_entry .tbl-recruitment ul {
  list-style-type: none;
}
#page_entry .tbl-recruitment ul li {
  position: relative;
  padding-left: 12px;
}
#page_entry .tbl-recruitment ul li:before {
  position: absolute;
  content: "";
  background: url(/ifv/assets/images/icn-dot02.png) center center no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  top: 0;
  left: 0;
  margin-top: 9px;
}
#page_entry .tbl-recruitment tr {
  border-bottom: 1px solid #d4d4d4;
  display: table;
  width: 100%;
  padding-bottom: 34px;
  padding-top: 32px;
}
#page_entry .tbl-recruitment tr:first-child {
  padding-top: 0;
}
#page_entry .tbl-recruitment th {
  color: #f85050;
  width: 19.4%;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
}
#page_entry .tbl-recruitment td p {
  margin-bottom: 8px;
}
#page_entry .tbl-recruitment td p:last-child {
  margin-bottom: 0;
}
#page_entry .tbl-recruitment .tbl-salary p {
  margin-bottom: 16px;
}
#page_entry .tbl-recruitment .tbl-salary p:last-child {
  margin-bottom: 0;
}
#page_entry .tbl-recruitment .tbl-benefits ul {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 8px;
}
#page_entry .tbl-recruitment .tbl-benefits ul li {
  margin-bottom: 3px;
}
#page_entry .tbl-recruitment .tbl-benefits .tbl-note {
  margin-left: -10px;
}
#page_entry .tbl-recruitment .tbl-vacation ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 24px;
}
#page_entry .tbl-recruitment .tbl-vacation .tbl-note {
  margin-top: 15px;
}
#page_entry .tbl-recruitment .tbl-insurance {
  padding-top: 27px;
  padding-bottom: 32px;
}
#page_entry .tbl-recruitment .tbl-welfare {
  padding-top: 30px;
}
#page_entry .tbl-recruitment .tbl-welfare p {
  margin-bottom: 13px;
}
#page_entry .tbl-recruitment .tbl-note {
  color: #616161;
  font-size: 1.2rem;
}
#page_entry .tbl-recruitment .tbl-title {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  #page_entry .tbl-recruitment {
    padding: 17px 0;
    font-size: 1.2rem;
  }
  #page_entry .tbl-recruitment tr {
    border-bottom: 1px solid #d4d4d4;
    display: table;
    width: 100%;
    padding-bottom: 17px;
    padding-top: 16px;
  }
  #page_entry .tbl-recruitment tr:first-child {
    padding-top: 0;
  }
  #page_entry .tbl-recruitment th {
    color: #f85050;
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    text-align: left;
    vertical-align: top;
  }
  #page_entry .tbl-recruitment .tbl-note {
    font-size: 1.1rem;
  }
}
#page_entry .lst-flow {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 0;
  margin-top: -5px;
}
#page_entry .lst-flow li {
  position: relative;
  background: #fa8484;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.5714;
  padding: 45px 10px 45px 10px;
  box-sizing: border-box;
  width: 16.54135%;
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#page_entry .lst-flow li:after {
  position: absolute;
  content: "";
  background: url(/ifv/assets/images/icn-arrow01.png) center center no-repeat;
  background-size: 14px 23px;
  top: 50%;
  right: -23px;
  margin-top: -11px;
  width: 14px;
  height: 23px;
}
#page_entry .lst-flow li:last-child:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #page_entry .lst-flow {
    display: block;
  }
  #page_entry .lst-flow li {
    width: 100%;
    margin-bottom: 30px;
  }
  #page_entry .lst-flow li:after {
    top: auto;
    bottom: -25px;
    right: 0;
    left: 0;
    width: 14px;
    height: 23px;
    margin: 0 auto;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}
#page_entry .lst-description {
  padding-left: 4px;
  line-height: 1.714286;
  margin-top: 11px;
  margin-bottom: 28px;
}
#page_entry .lst-description li {
  margin-bottom: 11px;
}
#page_entry .lst-description--02 li {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #page_entry .lst-description {
    margin-top: 5px;
    margin-bottom: 14px;
  }
  #page_entry .lst-description li {
    margin-bottom: 5px;
  }
}
#page_entry #description {
  margin-bottom: 70px;
}
#page_entry #description .hdg-lv2 {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  #page_entry #description {
    margin-bottom: 35px;
  }
  #page_entry #description .hdg-lv2 {
    margin-bottom: 20px;
  }
}
#page_entry #recruitment .hdg-lv2 {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  #page_entry #recruitment .hdg-lv2 {
    margin-bottom: 7px;
  }
}
#page_entry #flow {
  margin-bottom: -40px;
}
@media screen and (max-width: 768px) {
  #page_entry #flow {
    margin-bottom: -20px;
  }
}
#page_entry #entry {
  margin-bottom: 95px;
}
#page_entry #entry .hdg-lv2 {
  margin-bottom: 33px;
}
#page_entry #entry .btn-accept {
  margin-top: 35px;
}
#page_entry #entry .btn-accept .text {
  padding-bottom: 16px;
  padding-top: 10px;
}
#page_entry #entry .btn-accept .text span {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
@media screen and (max-width: 768px) {
  #page_entry #entry {
    margin-bottom: 47px;
  }
  #page_entry #entry .hdg-lv2 {
    margin-bottom: 17px;
  }
  #page_entry #entry .btn-accept {
    margin-top: 17px;
  }
  #page_entry #entry .btn-accept .text {
    padding-bottom: 5px;
  }
  #page_entry #entry .btn-accept .text span {
    padding-bottom: 5px;
  }
}
#page_entry .wrp-btn {
  margin: 0 auto;
  padding-right: 18px;
  max-width: 470px;
  margin-top: -7px;
}