#thanks{
	font-family:"hiraminpro";
	text-align: center;
	h3{
		font-size: 42px;
		font-weight: normal;
		line-height: 1.714;
		padding-top: 27px;
		margin-bottom: 77px;
		margin-right: -10px;
	}
	.text{
		font-size: 24px;
		margin-bottom: 100px;
	}
	.container{
		padding-bottom: 35px;
	}
	@media only screen and (max-width: 639px) {
		h3{
			font-size: 21px;
			padding-top: 15px;
			margin-bottom: 38px;
		}
		.text{
			font-size: 12px;
			margin-bottom: 50px;
		}
		.container{
			padding-bottom: 17px;
		}
	}
}